<% layout("/layouts/boilerplate") %>
<body>
  <div class="listing-container">
    <h3 class="listing-heading"><%= listing.title %></h3>

    <div class="card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body"></div>
    </div>

    <ul class="listing-info">
      <i>Owned by: <%= listing.owner.username %></i>
      <li><strong>Title:</strong> <%= listing.title %></li>
      <li><strong>Description:</strong> <%= listing.description %></li>
      <li>
        <strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %>
      </li>
      <li><strong>Location:</strong> <%= listing.location %></li>
      <li><strong>Country:</strong> <%= listing.country %></li>
    </ul>

    <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
    <div class="listing-buttons">
      <a class="btn btn-primary" href="/listings/<%= listing._id %>/edit">
        Edit this Listing
      </a>

      <form
        action="/listings/<%= listing._id %>?_method=DELETE"
        method="POST"
        class="delete-form"
      >
        <button class="btn btn-danger">Delete this Listing</button>
      </form>
    </div>
    <% } %>

    <hr />

    <% if (currUser) { %>
    <div class="col-8 offset-3 mb-3">
      <h4>Leave a review</h4>
      <form
        action="/listings/<%= listing._id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            min="1"
            max="5"
            id="rating"
            name="review[rating]"
            class="form-range"
          />
        </div>

        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="50"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please add some comments for review
          </div>
        </div>
        <button class="btn btn-outline-dark" type="submit">Submit</button>
      </form>
    </div>
    <% } %> <% if (listing.reviews.length > 0) { %>
    <div class="row">
      <p><b>All Reviews</b></p>
      <% for (review of listing.reviews) { %>
      <div class="carda col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> stars</p>
          <form
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="post"
            class="mb-3"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>

    <div class="mb-3 text-center">
  <h3>Where you will be</h3>
  <div class="d-flex justify-content-center">
    <div id="map" style="height: 400px; width: 80vh;"></div>
  </div>
</div>

  </div>

  <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css"
    rel="stylesheet"
  />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

 <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWthc2gtZGVzaG11a2g3NSIsImEiOiJjbWNuaDEwYmIwNGtzMmtzMzc1NndmazN0In0.Acas6dxOkeR_R8z5EhUn6w';

  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;

  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v12',
    center: coordinates,
    zoom: 12
  });

  new mapboxgl.Marker({color:"red"}).setLngLat(coordinates).addTo(map);
</script>


</body>